/* Font Style */
* {
  font-family: "Clicker Script", cursive;
  font-family: "Inter", sans-serif;
}
.overflow-y-hidden {
  overflow-x: hidden;
}

.text-mega {
  color: #f47b1f;
}

/* .text-nav a:hover,
.text-mega-grey:hover,
.text-mega:hover,
footer a:hover {
  color: #f47b1f !important;
} */
.bg-mega {
  background-color: #f47b1f;
}

.bg-mega-grey {
  background-color: #9d9fa228;
}

.text-mega-grey {
  color: #4a4b65;
}

.bg-footer {
  background-color: #1f1b1c;
}

footer a,
footer h5 {
}

/* Card */

.rounded-5 {
  border-radius: 10%;
}

.card-text {
  color: #adb6bd !important;
}

/* Fixed Menu */

menu {
  --size: 2.5rem;
  --radius: 6rem;
  --padding: 1rem;
  --bg-color: rgba(255, 255, 255, 0.9);
  --fg-color: rgba(0, 0, 0, 0.7);
  --hi-color: #f47b1f;

  position: fixed;
  bottom: var(--padding);
  right: var(--padding);
}

menu > * {
  position: absolute;

  display: grid;
  place-content: center;

  border-radius: 50%;

  background: var(--bg-color);
  color: var(--fg-color);

  text-decoration: none;

  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.6);
}

menu > .action {
  --factor: 0;

  width: var(--size);
  height: var(--size);
  right: calc(0.35 * var(--size));
  bottom: calc(0.35 * var(--size));

  opacity: 0;

  transform: rotate(calc(-1 * var(--angle)))
    translateY(calc(-1 * var(--radius) * var(--factor))) rotate(var(--angle));

  transition:
    transform 250ms ease-in-out,
    opacity 250ms ease-in-out,
    box-shadow 250ms ease-in-out,
    color 250ms ease-in-out;
}

menu > .action:hover,
menu > .trigger:hover {
  color: var(--hi-color);
  box-shadow: 0px 0px 0px 0.35rem rgba(0, 0, 0, 0.2);
}

menu.open > .action {
  --factor: 1;

  opacity: 1;
}

menu > .action:nth-child(1) {
  --angle: 0deg;
  transition-delay: 0ms;
}

menu > .action:nth-child(2) {
  --angle: 30deg;
  transition-delay: 50ms;
}

menu > .action:nth-child(3) {
  --angle: 60deg;
  transition-delay: 100ms;
}

menu > .action:nth-child(4) {
  --angle: 90deg;
  transition-delay: 150ms;
}

menu > .trigger {
  width: calc(1.6 * var(--size));
  height: calc(1.6 * var(--size));
  bottom: 0;
  right: 0;

  font-size: 2rem;
  transition:
    box-shadow 250ms ease-in-out,
    color 250ms ease-in-out;
}

menu > .trigger > i {
  transition: transform 250ms ease-in-out;
}

menu.open > .trigger > i {
  transform: rotate(-135deg);
}
/* Styling for the price number */
.price-number {
  color: #8077f5;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 93.6px;
}

/* Styling for the currency symbol */
.currency {
  color: #8077f5;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 93.6px;
}

.bg-currency {
  background-color: #8077f5;
  color: #ffff;
}
/* Styling for price buttons */
.btn-price {
  background: #8077f5;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #8077f5;
  color: #ffff;
}

/* Hover effect for price buttons */
.btn-price:hover {
  background: #6962d3;
  color: #ffff;
}

/* Remove box-shadow  */
.form-control:focus {
  box-shadow: none;
}

/* Styling for "x" icon */
.bi-x {
  color: red;
}

/* Styling for "check" icon */
.bi-check2 {
  color: #8077f5;
}

body {
  overflow-x: auto !important;
}

/* ARF */
.vh-50 {
  height: 50vh;
}

.container-porto {
  height: 300px;
}

/* animasi  */
.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-12-19 21:36:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
